container_commands:
  01_create_dirs:
    command: "mkdir -p /tmp/cache /tmp/cache/persistent /tmp/cache/models /var/app/current/app/logs"
  02_permissions:
    command: "chmod -R 777 /tmp/cache /var/app/current/app/logs"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DEBUG: "true"
    SECURITY_SALT: "fatture-app-security-salt-12345"
