packages:
  yum:
    htop: []
    mysql: []
    git: []

container_commands:
  01_composer_install:
    command: "cd /var/app/staging && composer install --no-dev --optimize-autoloader --no-interaction"
    leader_only: true
  02_cache_clear:
    command: "cd /var/app/staging && rm -rf tmp/cache/*"
  03_set_permissions:
    command: "cd /var/app/staging && chmod -R 777 tmp logs"
