option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    
  aws:elasticbeanstalk:container:php:
    document_root: /webroot
    memory_limit: 512M
    zlib.output_compression: "On"
    allow_url_fopen: "On"
    display_errors: "Off"
    max_execution_time: 300
    upload_max_filesize: 100M
    post_max_size: 100M
    
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 1
    
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: basic
    
  aws:elasticbeanstalk:application:environment:
    CAKE_ENV: production
    DEBUG: "false"
