files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-cakephp-logs.conf":
    content: |
      /var/app/current/logs/*.log
      /var/log/cakephp/*.log

container_commands:
  01_migrate:
    command: "cd /var/app/staging && php bin/cake.php migrations migrate"
    leader_only: true
    ignoreErrors: true
